<div ng-controller="taskCtrl">
  <form data-toggle="validator",role="form",name="taskForm">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="description">Task description</label>
          <input type="text" class="form-control" id="" placeholder="Description" ng-model="task.desc">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="action">Action</label>
          <select class="form-control" ng-model="task.Legal_Action_Type.legal_action">
            <option value="1">Review Uploaded Docs</option>
            <option value="2">Upload draft docs</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="template">Template</label>
          <input type="text" class="form-control" id="" placeholder="Template" ng-model="task.Legal_Action_Type.template">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="operation">Operations</label>
          <select class="form-control" ng-model="operation">
            <option value="1">Email</option>
            <option value="2">From</option>
          </select>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="name">Document Name</label>
          <input type="text" class="form-control" id="" placeholder="Name" ng-model="Document.name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="" placeholder="Type" ng-model="Document.type">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <a href="javascript:;" drop-box-picker on-dropbox-success="onDropboxSuccess(files)"  on-dropbox-cancel="onDropboxCancel()">Dropbox Picker</a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <input type="Submit" ng-click="createTask(task,operation,Document)">
        </div>
      </div>
    </div>
  </form>
</div>
